body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  outline: 0;
}

body,
html {
  background-color: #000;
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
  align-items: center;
}

.tweet-settings {
  flex: 1;
  color: #fff;
  border-right: 1px solid #2f3336;
  height: 100%;
  padding: 25px;

  label{
    font-size: 15px;
    opacity: .6;
  }

  hr{
    width: 100%;
    height: 1px;
    background-color: #2f3336;
  }

  h3 {
    font-size: 24px;
    font-weight: normal;
    border-bottom: 1px solid #2f3336;
    padding-bottom: 20px;
    margin-bottom: 20px;

  }

  input:not(:nth-child(3)) {
    width: 100%;
    background: transparent;
    border-bottom: 1px solid #2f3336;
    color: #fff;
    padding: 10px 0 15px;

    &::placeholder {
      color: #fff;
      font-size: 15px;
    }

    &:focus {
      border-color: #4e555a;
    }
  }

  textarea {
    width: 100%;
    background: transparent;
    border-bottom: 1px solid #2f3336;
    color: #fff;
    padding: 10px 0 15px;
    height: 50px;
    &::placeholder {
      color: #fff;
      font-size: 15px;
    }

    &:focus {
      border-color: #4e555a;
    }
  }

  ul {
    li:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  button{
    width: 100%;
    height: 40px;
    border-radius: 3px;
    font-size: 16px;
    color: #fff;
    background-color: #1da1f2;
    cursor: pointer;
  }

  .download-url{
    display: none;
  }
}

.tweet-container {
  padding: 0 50px;

  .tweet {
    border: 1px solid #2f3336;
    width: 600px;
    margin: 25px auto;
    padding: 0 16px;
    background-color: #000;

    &-author {
      height: 48px;
      margin-top: 12px;
      margin-bottom: 4px;
      display: flex;
      align-items: center;
      font-size: 15px;

      img {
        width: 48px;
        height: 48px;
        margin-right: 12px;
        border-radius: 50%;
      }

      .name {
        color: #fff;
        font-weight: 700;
        display: flex;
        align-items: center;

        svg {
          margin-left: 2px;
        }
      }

      .username {
        color: #6e767d;
      }
    }

    &-content {
      padding: 12px 0;

      p {
        font-size: 23px;
        line-height: 28px;
        color: #fff;
        overflow: hidden;
        span{
          color: #1da1f2
        }
      }
    }

    &-stats {
      height: 53px;
      display: flex;
      color: #fff;
      align-items: center;
      font-size: 15px;
      color: #6e766d;
      border-top: 1px solid #2f3336;

      span:not(:last-child) {
        margin-right: 20px;
      }

      b {
        color: #fff;
      }
    }

    &-actions {
      height: 48px;
      display: flex;
      border-top: #2f3336;
      color: #fff;
      align-items: center;
      justify-content: space-around;
    }
  }
}